<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Github API</title>
</head>
<body>
  <h1 id="heading">Developer Favourite Language</h1>

  <h6 class="description">This is a small app that will use Githubs API to get a list of a developers repos and try to make a guess at that users favourite language</h6>

  <h6 class="instruction">To start press the button below</h6>

  <div>
    <a href="/query"><button name="query">Lookup user</button></a>
  </div>
</body>
</html>

